<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add Resource</title>
    </head>
    <body>
        <form autocomplete="off" method="POST" action="{{ url_for('add_resource') }}">
            <!-- Add Resource -->
            <input type="text" name="resourceName">
            <br>

            <!-- Refresh page -->
            <button type="submit" id="addResourceButton" onclick="closeWindow()">Add Resource</button>
        </form>
        <script src="static/openExternalWindow.js"></script>
    </body>
</html>
