<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Delete Microbes</title>
    </head>
    <body>
        <form method="POST", action="{{ url_for('delete_microbes') }}">
            {% for microbe in microbes %}
                <input type="checkbox" name ="{{ microbe }}_checkbox">
                {{ microbe.name }}
                <br>
            {% endfor %}
            <button type="submit" name="submitMicrobeDeletion">Delete Selected Microbes</button>
        </form>
    </body>
</html>
