<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Presets</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <!-- 2 Microbe Symbiosis -->
            <button type="button" id="basicSymbiosis" class="btn btn-success mb-3" onclick="closeWindow()">2 Microbe Symbiosis</button>
            <br>

            <!-- 2 Microbe Symbiosis With Lead -->
            <button type="button" id="basicWithLead" class="btn btn-warning mb-3" onclick="closeWindow()">2 Microbe Symbiosis With Lead (Will fail)</button>
            <br>

            <!-- 3 Microbe Symbiosis -->
            <button type="button" id="3MicrobeSymbiosis" class="btn btn-danger mb-3" onclick="closeWindow()">3 Microbe Symbiosis</button>
            <br>
        </div>

        <!-- Bootstrap JS (Optional for additional functionality like tooltips, etc.) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="static/openExternalWindow.js"></script>
        <script src="static/presets.js"></script>
    </body>
</html>
