<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Presets</title>
    </head>
    <body>
        <!-- Add Microbe -->
        <button type="button" id="basicSymbiosis" onclick="closeWindow()">2 Microbe Symbiosis</button>
        <br>

        <!-- Show Microbes -->
        <button type="button" id="basicWithLead" onclick="closeWindow()">2 Microbe Symbiosis With Lead (Will fail)</button>
        <br>

        <!-- Delete Microbes -->
        <button type="button" id="3MicrobeSymbiosis" onclick="closeWindow()">3 Microbe Symbiosis</button>
        <br>

        <script src="static/openExternalWindow.js"></script>
        <script src="static/presets.js"></script>
    </body>
</html>
